body {
  background: url('../images/law_books.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(94, 73, 122, 0.75);
  margin: 0;
  color: white;
}

h1 {
	font-size: 80px;
  text-align: center;
  margin-top: 30px;
	margin-bottom: 50px;
  text-shadow: 2px 2px #53354A;
  /*font-family: 'Marck Script', cursive;*/
  /*font-family: 'Petit Formal Script', cursive;*/
  /*font-family: 'Redressed', cursive;*/
  /*font-family: 'Bilbo', cursive;*/
  /*font-family: 'Annie Use Your Telescope', cursive;*/

}

h2 {
  font-size: 40px;
  text-shadow: 2px 2px #53354A;
}

h2:hover {
  font-size: 44px;
  color: #903749;
  cursor:pointer;
}

h2:before {
  content: "\29BF";
  /*content: "\29BE";*/
  margin: 0 15px;
  margin-left: -40px;
  font-size: 20px;
  vertical-align: middle;
  opacity: 0.0;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

h3 {
  margin-top: 30px;
  text-decoration: underline;
}

h4 {

}

h5 {

}

h1, h2 {
  font-family: 'Petit Formal Script', cursive;
}

h4, h5 {
	font-family: 'Lato', sans-serif;
}

#content > ul {
  list-style: none;
}

ul > li > ul > li {
  list-style: square;
  color: white;
}

div > ul {
  list-style: square;
  color: white;
}

a {
 color: white;
 /*text-shadow: #903749;*/
}

a:hover {
  color: #903749;
  cursor:pointer;
}

footer {
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  /*width: 100%;*/
  height: 100px;
  bottom: 0;
  left: 0;
  color: white;
	background-color: #53354A;
  opacity: 1;
  text-align: right;
}

.active {
  color: #903749;
}

#background-filter {
  background-color: rgba(94, 73, 122, 0.75);
  padding: 50px 0 0 0;
  /*height: 100%;*/
}

#content {
	background-color: rgba(62, 40, 56, 0.75);
	/*border: 5px solid #53354A;*/
  border: 5px solid white;
  margin: 5% 20%;
  padding: 0 5%;
	/*margin-top: 10%;
	margin-bottom:10%;*/
	/*box-shadow: 0px 0px 50px #6a6a6a;*/
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/*------------------------NAV BAR---------------------- */
.navBar {
  background-color: #53354A;
  top: 0;
  position: fixed;
  min-width: 100%;
}

.logo {
  background-color: #ffffff;
  border-radius: 50px;
  display: inline-block;
  height: 60px;
  margin: 10px 0;
  width: 60px;
  text-align: center;
  display: table;
}

.logo a {
  font-family: 'Petit Formal Script', cursive;
  color: #53354A;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}
nav ul a {
  font-family: 'Petit Formal Script', cursive;
  color: #ffffff;
  text-decoration: none;
  transition: all .5s ease;
}
nav ul a:hover {
  color: #903749;
  font-size: 1.75em;
}
nav li {
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .navBar {
    position: absolute;
    height: 80px;
  }

  nav ul {
    background-color: #903749;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
    padding: 0;
  }
  nav li {
    border-bottom: 2px solid #53354A;
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
    margin: 0;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100%;
    visibility: visible;
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #903749 0%, #903749 20%, transparent 20%, transparent 40%, #903749 40%, #903749 60%, transparent 60%, transparent 80%, #903749 80%, #903749 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin: 10px 0;
    width: 35px;
  }
  nav .wrapper {
    display: flex;
    flex-flow: row wrap;
  }
}
